body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.667), rgba(0, 0, 0, 0.64)),
        url("img/City_Duck_Muenchen_16678680_2_600x600@2x.jpg");
    background-repeat: repeat;
    background-size: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    width: 100%;
    height: 10%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 0, 0.577);
    border-radius: 10px;
    position: absolute;
    top: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#header h2 {
    position: absolute;
    left: 20px;
    margin: 0;
}

#header h1 {
    margin: 0;
    text-align: center;
}

#carrello img {
    width: 5%;
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
}

#papera {
    margin-top: 70px;
    height: 500px;
    width: 800px;
    background-color: white;
    border-radius: 50px;
}

#papera img {
    position: relative;
    top: 70px;
    left: 50px;
    height: 70%;
    border-radius: 50px;
}

#papera div {
    position: absolute;
    width: 300px;
    top: 35%;
    right: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#papera div h1 {
    position: absolute;
    top: -30%;
    right: 30%;
}

#papera button {
    position: absolute;
    bottom: -30%;
    right: 32%;
    cursor: pointer;
}

#papera div p {
    position: relative;
    top: 25%;
    right: 7%;
}

table {
    position: absolute;
    bottom: -300px;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 100px;
}

table,
td,
th {
    border: 3px solid rgb(227, 252, 0);
    border-collapse: collapse;
    padding: 10px;
    background-color: white;
}


body::after {
    content: "";
    display: block;
    height: 200px;
    /* spazio extra alla fine */
}

footer {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 0, 0.374);
}

iframe{
    position: absolute;
    bottom: -600px;
}